<div class="container mt-3">
    <h3>Bookings <a routerLink="/bookings/new" class="btn btn-sm btn-primary float-end">New</a></h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Event</th>
                <th>Food</th>
                <th>Venue</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let b of bookings">
                <td>{{ b.event_type }}</td>
                <td>{{ b.food }}</td>
                <td>{{ b.venue }}</td>
                <td>
                    <!-- <a [routerLink]="['/bookings', b.id]" class="btn btn-sm btn-outline-secondary">Edit</a> -->
                    <button (click)="delete(b.id)" class="btn btn-sm btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>